<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script src="underscore.js"></script>
    <script src="jquery.js"></script>
    <script src="backbone.js"></script>
    <!-- your code goes in app.js -->
    <script src="demo.js"></script>
  </head>
  <body>
    <div id="cats"></div>
    <div id="cat-form"></div>
    <script type="text/template" id="cat-template">
      <p><%= name %> - <%= age %> years old</p>
    </script>
    <script type="text/template" id="cat-form-template">
      <form>
        <input placeholder="search" />
        <button>Go</button>
      </form>
    </script>
  </body>
</html>

<!--
BackboneJS
Nicholas Johnson
-->
